---
ci:
  # this subsection applies to pre-commit.ci only, not our own CI
  skip:
    # As pre-commit.ci service does not allow network access from inside hooks,
    # we need to skip running ansible-lint, which may need to download missing
    # collections from galaxy. https://github.com/pre-commit-ci/issues/issues/55
    # This
    - ansible-lint
exclude: |
    (?x)(
        ^docs/conf.py$
    )
repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - pydocstyle>=6.1.1
          - flake8-absolute-import>=1.0
          - flake8-docstrings>=1.6.0
        language_version: python3
  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v5.3.1
    hooks:
      - id: ansible-lint
        always_run: true
        pass_filenames: false
        verbose: true
        additional_dependencies:
          - ansible-core>=2.11
          - yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: []
        entry: mypy src/
        pass_filenames: false
        additional_dependencies:
          - ansible-compat>=0.5.0
          - molecule
          - packaging
          - types-requests
  - repo: https://github.com/PyCQA/pylint
    rev: v2.12.2
    hooks:
      - id: pylint
        additional_dependencies:
          - ansible-core>=2.11
          - molecule
